@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

.pokedetail{
    font-family: 'Titillium Web', sans-serif;
    padding: 2rem 1rem;
    &__name{
        text-align: center;
        margin-bottom: 1rem;
        h1{
            font-size: 3rem;
            text-transform: capitalize;
            span{
                margin-left: 1rem;
                color: #8a8a8a;  
            }
        }
        select{
            margin: 0 auto;
            background-color: #313131;
            color: #fff;
            padding: .5rem .2rem;
            option{
                margin: 1rem 0;
            }
        }
    }
    
    &__info{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .avatar{
            margin-right: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 250px;
        }
    }
}

@media screen and (max-width: 767px){
    .pokedetail{
        &__info{
           
           text-align: center;
        }
    }
}