@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

.pokedetail{
    font-family: 'Titillium Web', sans-serif;
    padding: 2rem 1rem;
    &__name{
        text-align: center;
        margin-bottom: 1rem;
        h1{
            font-size: 3rem;
            text-transform: capitalize;
            span{
                margin-left: 1rem;
                color: #8a8a8a;  
            }
        }
        select{
            margin: 0 auto;
            background-color: #313131;
            color: #fff;
            padding: .5rem .2rem;
            option{
                margin: 1rem 0;
            }
        }
    }
    
    &__info{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .avatar{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 200px;
        }
    }
    .chain-header{
        margin: 2rem 0;
        margin-bottom: .5rem;
        text-align: center;
    }
    .chain{
        border-radius: .5rem;
        background-image: linear-gradient(45deg, #2f2f2f 25%, #323232 25%, #323232 50%, #2f2f2f 50%, #2f2f2f 75%, #323232 75%, #323232 100%);
        background-size: 70.71px 70.71px;
        padding: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .card{
            min-width: 150px;
            max-width: 150px;
        }
        i{
            color: white;
            font-size: 2rem;
            &:last-child{
                display: none;
            }
        }
        &__col{
            a{
                margin-top: 1rem;
            }
            display: grid;
            gap: 1rem;
        }
        .card{
            border-radius: .5rem;
        }
    }
}
@media screen and (max-width: 1170px){
    .pokedetail{
        &__name{
            h1{
                font-size: 2rem;
            }
        }
        &__info{
           
           text-align: center;
        }
        .chain{
            flex-direction: column;
            i{
                display: none;
                &:last-child{
                    margin-top: 1rem;
                    display: block;
                }
            }
            &__col{
                a{
                    margin-top: 1rem;
                }
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 1rem;
            }
            .card{
                border-radius: .5rem;
            }
        }
    }
}

@media screen and (max-width: 767px){
    .pokedetail{
        &__name{
            h1{
                font-size: 2rem;
            }
        }
        &__info{
           
           text-align: center;
        }
    }
}

@media screen and (max-width: 430px){
    .pokedetail{
        &__name{
            h1{
                font-size: 1.5rem;
            }
        }
        &__info{
            .avatar{
                width: 100px;
            }
        }
        .chain-header{
            text-align: center;
            font-size: 1.5rem;
        }
        .chain{
            padding: 1rem;
        }
    }
}
